*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: #333;
    color: white;
    padding: 15 px 0;
    text-align: center;
}